<a href="https://colab.research.google.com/github/Jnfagundes/_AtividadesPython/blob/master/EstudoPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
real = float(input('Qual valor você quer converter? R$'))
dolar = real / 5.30
print('Com R${:.2f} você compra US${:.2f}'.format(real, dolar))

Qual valor você quer converter? R$100
Com R$100.00 você compra US$18.87

In [ ]:
largura = float(input('Largura da parede: '))
altura = float(input('Altura da parede: '))
area = largura * altura
print('Sua parede tem a dimensão de {}X{} e sua área é de {}m².'.format(largura, altura, area))
tinta = area / 2
print('Para pintar essa parede, você precisará de {}l de tinta.'.format(tinta))

Largura da parede: 3
Altura da parede: 2
Sua parede tem a dimensão de 3.0X2.0 e sua área é de 6.0m².
Para pintar essa parede, você precisará de 3.0l de tinta.

In [ ]:
preco = float(input('Qual o preço do produto? R$'))
novo = preco - (preco * 5/100)
print('O seu produto teve 5% de desconto, seu novo valor é R${:.2f} '.format(novo))

Qual o preço do produto? R$1000
O seu produto teve 5% de desconto, seu novo valor é R$950.00

In [ ]:
soma = 0
for i in range (0,11):
  soma += i
print(soma)

55

In [ ]:
i = 1000
while i != 7:
  i -= 1
print(i)

7

In [ ]:
def retornoSoma(n1, n2):
  soma = n1 + n2
  return soma
result = retornoSoma(retornoSoma(10, 20), retornoSoma(30,40))
print(result)

100

In [ ]:
vet = list(range(0, 3))
for i in vet:
  vet[i] = i * i
  print(vet[i])

0
1
4

In [ ]:
salario = float(input('Qual o salário do funcionário? R$'))
novo = salario + (salario * 15/100)
print('O salário R${:.2f}, receberá o aumento de 15%, passando a ser R${:.2f} '.format(salario, novo))

Qual o salário do funcionário? R$1045
O salário R$1045.00, receberá o aumento de 15%, passando a ser R$1201.75

In [ ]:
c = float(input('Informe a temperatura em ºC: '))
f = ((9 * c) / 5) + 32
print('A temperatura de {}ºC corresponde a {}ºF!'.format(c, f))

Informe a temperatura em ºC: 24
A temperatura de 24.0ºC corresponde a 75.2ºF!

In [ ]:
dias = int(input('Quantos dias alugados? '))
km = float(input('Quantos Km percorridos? '))
pago = (dias * 60) + (km * 0.15)
print('O total a pagar é R${:.2f}'.format(pago))

Quantos dias alugados? 3
Quantos Km percorridos? 350
O total a pagar é R$232.50

In [ ]:
print('Curso em Vídeo')
import math
num = int(input('Digite um número: '))
raiz = math.sqrt(num)
print('A raiz de {} é igual {}'.format(num, raiz))

Curso em Vídeo
Digite um número: 81
A raiz de 81 é igual 9.0

In [ ]:
import random
num = random.randint(1,10)
print(num)

5

In [ ]:
import math
num = float(input('Digite um número real:'))
print('O valor digitado foi {} e as sua porção inteira é {}'.format(num, math.trunc(num)))

Digite um número real:2.54
O valor digitado foi 2.54 e as sua porção inteira é 2

In [ ]:
from math import trunc
num = float(input('digite um valor real: '))
print('O valor digitado foi {} e sua parte inteira é {}'.format(num, trunc(num)))

digite um valor real: 5.25
O valor digitado foi 5.25 e sua parte inteira é 5

In [ ]:
catAdj = float(input('Digite o comprimento do cateto adjacente: '))
catOp = float(input('Digite o cateto oposto: '))
hi = (catOp ** 2 + catAdj ** 2) ** (1/2)
print('A hipotenusa vai medir {:.2f}'.format(hi))

Digite o comprimento do cateto adjacente: 2
Digite o cateto oposto: 2.5
A hipotenusa vai medir 3.20

In [ ]:
import math 
catAdj = float(input('Digite o comprimento do cateto adjacente: '))
catOp = float(input('Digite o cateto oposto: '))
hi = math.hypot(catOp, catAdj)
print('A hipotenusa vai medir {:.2f}'.format(hi))

Digite o comprimento do cateto adjacente: 2
Digite o cateto oposto: 2.5
A hipotenusa vai medir 3.20

In [ ]:
from math import hypot
catAdj = float(input('Digite o comprimento do cateto adjacente: '))
catOp = float(input('Digite o cateto oposto: '))
hi = hypot(catOp, catAdj)
print('A hipotenusa vai medir {:.2f}'.format(hi))

Digite o comprimento do cateto adjacente: 2
Digite o cateto oposto: 2.5
A hipotenusa vai medir 3.20

In [ ]:
import math
angulo = float(input('Digite um ângulo qualquer: '))
seno = math.sin(math.radians(angulo))
print('O ângulo de {} tem o SENO de {:.2f}'.format(angulo, seno))
cosseno = math.cos(math.radians(angulo))
print('O cosseno é de {:.2f}'.format(cosseno))
tangente = math.tan(math.radians(angulo))
print('A tangente é {:.2f}'.format(tangente))

Digite um ângulo qualquer: 30
O ângulo de 30.0 tem o SENO de 0.50
O cosseno é de 0.87
A tangente é 0.58

In [ ]:
from math import radians, sin, cos, tan # importação somente daquilo que precisamos 
angulo = float(input('Digite um ângulo qualquer: '))
seno = sin(radians(angulo))
print('O ângulo de {} tem o SENO de {:.2f}'.format(angulo, seno))
cosseno = cos(radians(angulo))
print('O cosseno é de {:.2f}'.format(cosseno))
tangente = tan(radians(angulo))
print('A tangente é {:.2f}'.format(tangente))

Digite um ângulo qualquer: 30
O ângulo de 30.0 tem o SENO de 0.50
O cosseno é de 0.87
A tangente é 0.58

In [ ]:
import random
nome1 =input('Primeiro aluno: ')
nome2 = input('Segundo aluno: ')
nome3 = input('Terceiro aluno: ')
nome4 = input('Quarto aluno: ')
lista = [nome1, nome2, nome3, nome4]
escolha = random.choice(lista)
print('O aluno escolhido foi {}'.format(escolha))

Primeiro aluno: Ana
Segundo aluno: Thalita
Terceiro aluno: José
Quarto aluno: André
O aluno escolhido foi José

In [ ]:
from random import choice
nome1 =input('Primeiro aluno: ')
nome2 = input('Segundo aluno: ')
nome3 = input('Terceiro aluno: ')
nome4 = input('Quarto aluno: ')
lista = [nome1, nome2, nome3, nome4]
escolha = choice(lista)
print('O aluno escolhido foi {}'.format(escolha))

Primeiro aluno: Ana
Segundo aluno: Thalita
Terceiro aluno: José
Quarto aluno: André
O aluno escolhido foi Thalita

In [ ]:
import random # Seleciona de forma aleatória (random)
nome1 = input('Primeiro aluno: ')
nome2 = input('Segundo aluno: ')
nome3 = input('Terceiro aluno: ')
nome4 = input('Quarto aluno: ')
lista = [nome1, nome2, nome3, nome4]
escolha = random.shuffle(lista)
print('A ordem de apresentação será:')
print(lista)

Primeiro aluno: Ana
Segundo aluno: Thalita
Terceiro aluno: José
Quarto aluno: André
A ordem de apresentação será:
['Ana ', 'André', 'José ', 'Thalita']

In [ ]:
fgts = float(input('Digite o valor do FGTS: R$'))
rec = fgts + (fgts * 40/100)
print('O valor do FGTS com acrescimo de 40% é R${:.2f}'.format(rec))

Digite o valor do FGTS: R$8075.63
O valor do FGTS com acrescimo de 40% é R$11305.88

In [ ]:
print('=========== Desafio 23 ============')
num = int(input('informe um número: '))
u = num // 1 % 10
d = num // 10 % 10
c = num // 100 % 10
m = num // 1000 % 10
print('Analisando o número {}'.format(num))
print('Unidade {}'.format(u))
print('Dezena {}'.format(d))
print('Centena {}'.format(c))
print('Milhar {}'.format(m))

=========== Desafio 23 ============
informe um número: 1983
Analisando o número 1983
Unidade 3
Dezena 8
Centena 9
Milhar 1

In [ ]:
cidade = str(input('Em que cidade você nasceu? ')).strip() # o strip elimina espaços
print(cidade[:5].upper() == 'SANTO')

Emque cidade você nasceu? Santo André
True

In [ ]:
nome = str(input('Digite seu nome completo: ')).strip()
print('Seu nome tem Silva? {}'.format('SILVA' in nome.upper()))

Digite seu nome completo: Joana Silva Lima
Seu nome tem Silva? True

In [ ]:
frase = str(input('Digite uma frase qualquer: ')).upper().strip()
print('A letra A aparece {} vezes na frase.'.format(frase.count('A')))
print('A primeira letra A apareceu no posição {}'.format(frase.find('A') + 1))
print('A última letra A apareceu na posição {}'.format(frase.rfind('A') + 1))

Digite uma frase qualquer: Ainda bem que estou bem
A letra A aparece 2 vezes na frase.
A primeira letra A apareceu no posição 1
A última letra A apareceu na posição 5

In [ ]:
nome = str(input('Digite seu nome completo: ')).strip()
n = nome.split()
print('Seu primeiro nome é {}'.format(n[0]))
print('Seu último nome é {}'.format(n[len(n) - 1]))

Digite seu nome completo: José Nilton do Nascimento Fagundes
Seu primeiro nome é José
Seu último nome é Fagundes